.input {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    transition: all .2s linear;
    font-size: 16px;
}

.invalid {
    border-color: red !important;
    border-width: 2px !important;
}

.auth {
    border: 1px solid rgba(200, 200, 200, .7);
}