.categories {
  width: 100%;
  border-bottom: 1px solid rgba(200, 200, 200, .8);
  font-size: 14px;
  display: flex;
  flex-direction: column;

  .section_controller {
    width: 100%;
    background: none;
    display: flex;
  }

  .section_controller_shadow {
    border-bottom: 3px solid rgba(25, 25, 25, 1);
  }

  .active_accordion {
    transform: rotate(180deg);
  }
  .folders_list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: auto;
    li {
      width: 100%;
      a {
        display: block;
        width: 100%;
        color: #fff;
        text-decoration: none;
        padding: 5px 20px;
        font-weight: 200;
        display: flex;
        align-items: center;
        column-gap: 5px;
      }
      a:hover {
        background-color: rgba(80, 80, 80, .5);
      }
    }
  }
}

.active_categories {
  flex-grow: 1;
}